li.non-bullet {
  list-style-type: none;
}

header {
  background-color: #004AFD;
}

body {
  background-color: #ADE1FF;
}

footer {
  background-color: #1F66FF;
}

img.header-picture {
  width: 100%;
  height: 180px;
  margin-top: -20px;
  margin-bottom: -150px;
}

.header-font {
  font-family: 'Bree Serif', serif;
}

.header-font {
  background-color: white;
}

.panel-title {
  font-size: 75px;
  font-weight: bold;
}

.panel-body {
  font-size: 25px;
}

h4 {
  font-size: 50px;
}
